@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

a {
  text-decoration: none;
}

:root {
  --background-white: #FFFFFF;
  --background-gray: #FAFAFA;
  --background-dark-gray: #EBEBEB;
  --divider-gray: #DADADA;
  --divider-dark-gray: #ADADAD;
  --divider-black: #3D3D3D;
  --text-black: #222222;
  --text-gray: #757575;
  --text-light-gray: #ADADAD;
  --text-white: #FFFFFF;
  --button-black: #3D3D3D;
  --button-middle-black: #646363;
  --button-middle-gray: #F1F1F1;
  --button-white: #FFFFFF;
  --additional-blue: #2291FF;
  --additional-red: #FF5A49;
  --additional-green: #61AD0E;
  --additional-green-05: rgba(97, 173, 14, 0.05);
  --additional-orange: #F9A442;
  --additional-dark-blue: #3187DC;
}

// reset calendar
.vc-popover-content-wrapper button,
.vc-container button {
  background-color: transparent;
}

.vue-notification {
  font-family: 'Poppins', sans-serif;
}

.v-popper__popper {
  font-family: 'Poppins', sans-serif;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}